.navbar{
      position: sticky;
        top: 0;
         background-image: url(imagenes/Barra.png);
         padding: 5px 0;
           width: 100%;
           z-index: 1;
           background-size: cover;
           background-repeat: no-repeat;
           padding-top: 25px;
}
button{
    height: 50px;
    width: 90px;
    font-size: large;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline-block;
    margin: 0 20px;
    padding-bottom: 2%;
    
}

.navbar ul li a {
    color: rgb(255, 255, 255);
    text-decoration:aqua;
    font-size: 18px;
    padding: 10px 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar ul li a :hover {
    background-color: #c27e19;
    color: #52fc03;
}
button{
    background-color: #f8bf6a;
}
.content {
    margin-top: 60px;
}
.rules{
    color: rgb(0, 26, 255);
    text-align: center;
    font-size: 25px;
}
body{
    background-image: url(imagenes/Fondo.jpg);
    background-size: cover;
}
.Reglas1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color:#000000;
    padding: 5%;
    text-size-adjust: 50%;
    background-color: rgb(255, 255, 255, 0.8);
}
.inicio{
    color:#48cf0a;
    text-align: center;
    font-size: 50px;
     text-size-adjust: 25%;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}
.sesion ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.sesion ul li {
    margin: 0 20px;
}
.sesion h2{
    font-size: 40px;
}
.crear p{
    text-align: center;
    color: rgb(248, 155, 49);
    font-size: 150%;
    text-shadow: rgb(129, 129, 129) 4px 4px 6px;
   
}
